body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
#container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
}
#container img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
#container h1,
p {
  color: whitesmoke;
}
#container p {
  margin: 15px 0;
}
.btn {
  background-color: rgb(69, 111, 147);
  padding: 10px 20px;
  border: none;
  width: 30%;

  border-radius: 5px;
}
.btn:hover {
  background-color: darkcyan;
}
.times {
  color: whitesmoke;
}

.hidden {
  display: none;
}

#video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgb(218, 116, 116);
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-container video {
  position: relative;
  max-width: 1200px;
  outline: none;
}

@media (max-width: 991px) {
  #video-container video {
    max-width: 90%;
  }
}

@media (max-width: 1200px) {
  #video-container video {
    max-width: 80%;
  }
}

.close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .close-icon {
    top: 140px;
    right: 70px;
  }
}

.active {
  visibility: hidden;
}
